---
import Layout from "../layouts/main.astro"
---
<Layout>
    <div slot="text">
    <h3>Before submitting, check out the <strong><a href="/info" target="_blank">Info</a></strong> page</h3>
    <iframe 
        src="https://cris.fillout.com/meowgallery" 
        width="100%" 
        height="1000" 
        frameborder="0" 
        style="border:none;"
        allowfullscreen>
    </iframe>
    </div>
</Layout>
